@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono&family=Space+Mono:wght@700&display=swap');
:root {
    --color1: #E51212;
    --color2: #FFFFFF;
    --color3: #D67E34;
    --color4: #000000;
    --color5: #A5ADB3;
    --padding-1: 8%;
    --padding-2: 4%;
    --shadow: 0 1px 5px rgba(233, 222, 222, 0.8);
    --shadow1: 20px 20px 50px 10px rgb(248, 247, 246) inset;
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header start */

header {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px #ccc;
    padding: 1rem 0;
    position: fixed;
}

header .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .nav_bar ul {
    display: flex;
    list-style-type: none;
    gap: 5.5rem;
}

header .container .nav_bar ul li {
    height: 100%;
    font-family: 'Inconsolata', monospace;
}

header .container .nav_bar ul li:hover a {
    color: #C22832;
    transition: all .4s;
}

header .container .nav_bar ul li a {
    color: #525252;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
}


header .container .search_shop input {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px 20px;
}

.shop{
    cursor: pointer;
}


header .container .search_shop  {
    display: flex;
    gap: 4rem;
}

pre{
    color: var(--light-color);
}

.sushi-1-text span{
    color: var(--color3);
}

/* home */

.Accuiel{
    display: flex;
    flex-direction: column;
    padding: 11rem;
    width: 100%;
    gap: 5rem;
   
}

.Accuiel .welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.Accuiel .welcome .image-index img{
    width: 400px;
    height: 500px;
}

.Accuiel .suchi-1 img{
    width: 500px;
    height: 400px;
}


.Accuiel .suchi-1{
    display: flex;
    align-items: center;
    gap: 15rem;
}


.Accuiel .suchi-1 .sushi-1-text{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    font-weight: 777;
    font-size: 43px;
}


.btn {
    padding-top: 16%;
    text-decoration: none;
}

.btn-1 {
    text-decoration: none;
    background-color: var(--color1);
    color: var(--color2);
    padding: 0.81rem 1.8rem;
}

.btn-2 {
    text-decoration: none;
    background-color: var(--color2);
    border: solid;
    padding: 0.81rem 1.8rem;
    color: var(--color1);
    border: 2px;
}

.btn-1:hover {
    background-color: var(--color2);
    color: var(--color1);
    border: 1px solid;
}

.btn-2:hover {
    border: 1px solid;
}

.text-Accuiel h3{
    padding: 1.5rem;
    text-align: center;
    padding-right: 6rem;
}

span {
    color: var(--color1);
}






/* footer */


footer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    background-color: #F8F9FD;
    justify-content: space-around;
   
}

footer p {
    color: var(--color5);
    text-align: center;
    grid-column: 2 / 4;
}


.Pages img {
    width: 200px;
    height: 100px;
}

.Pages h4 {
    padding: 1rem;
    padding-left: 25px;
}

.Pages ul {
    list-style: none;
    padding-left: 1rem;
}

.Pages ul li a {
    text-decoration: none;
    color: var(--color5);
}

.Pages {
    display: grid;
    justify-items: center;
}

/* menu */


#hamberger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/* contact */

.contact{
    display: flex;
    flex-direction: column;
}

.contact img{
    height: 341px;
    width: 100%;
}
.contact  h5{
    text-align: center;
    margin-top: 14rem;
    z-index: 1;
    position: absolute;
    color: var(--color2);
    font-size: 34px;
}
.contact .carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.contact p{
    text-align: center;
    padding-bottom: 2rem;
}

.formation-contact{
    display: flex;
    justify-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
}
.formation-pers{
    display: flex;
    flex-direction: column;
}

.msg-btn{
    display: flex;
    flex-direction: column;
}

.formation-contact label,
input {
    width: 300px;
    padding: 0.75rem;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

textarea {
    width: 500px;
    height: 230px;
}

button {
    background-color: var(--color3);
    width: 300px;
    height: 50px;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1.5rem;
}

button:hover {
    background-color: var(--color2);
    color: var(--color3);
    border: 1px solid;
}

/* propos */

.propos .carte img{
    height: 341px;
    width: 100%;
}

.propos  h5{
    text-align: center;
    margin-top: 14rem;
    z-index: 1;
    position: absolute;
    color: var(--color2);
    font-size: 34px;
}

.propos .carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}


.propos .propos-text {
    padding-bottom: 5rem;
}

.propos .propos-text img{
    width: 400px;
    height: 400px;
}

#spanpan {
    color: var(--color4);
    font-size: 24px;
}

.propos-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
.text-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.images-team img{
    width: 300px;
    height: 250px;
}

.images-team{
    display: contents;
    flex-direction: column;
    gap: 6rem;
}


/* carte */
/* 
.catre-page .box_flex .box .All .salade{
    width: 250px;
    height: 25Opx;
} */


.circular--square {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 2rem;
}

.carte-page{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

/* .content-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8;
} */

.box_flex .tout-obento .tout-plats .toutes-salade{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text hr{
    width: 100%;
    background: #d4a373;
    height: 3px;
    margin: 5px 0px 10px 0px;
    text-align: center;
}

.box .All .salade{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 32%;
    background: #FFF;
    border-radius: 3px;
    padding: 3px;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 20px;
    animation: movement 1s ease-in-out;
}


.carte-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5rem;
   
}


.carte-p-carte img{
    height: 341px;
    width: 100%;
}

.carte-p-carte  h5{
    text-align: center;
    margin-top: 14rem;
    z-index: 1;
    position: absolute;
    color: var(--color2);
    font-size: 34px;
}

.carte-p-carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

/* select style */

.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 43px;
    padding-bottom: 3px;
}

.select .list{
    border: 3px solid;
    width: 400px;
    border-radius: 15px;
    font-weight: 700;
}

.select .list option{
   font-family: 'Courier New', Courier, monospace;
   font-size: 25px;
}

.content-cart {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

#btn-cart{
    background-color: rgb(0, 42, 255);
    color: var(--color2);
    padding: 0.5rem;
    border-radius: 12px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.stars{
    color: var(--color3);
    padding: 1rem;
}

.text a{
    text-decoration: none;
}


.toutes-salade{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.tout-obento{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.tout-plats{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* catre_chopping */

.cart ion-icon {
    vertical-align: bottom;
    font-size: 30px;
    padding-right: 5px;
}

.cart a {
    background-color: black;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 2rem;
    font-size: 20px;
    border-radius: 50%;
}

.cart {
    text-align: center;
    margin-top: 2rem;
}


/*cart add  */

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    /* margin-top: 60px; */
}

.products-container ion-icon {
    font-size: 25px;
    color: blue;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price , .bht .price{
    width: 15%;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    display: flex;
    align-items: center;
}

.quanttity {
    width: 22%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

#img-acht {
    width: 150px;
    height: 150px;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.basketTotalCont {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotaltitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

.bht{
    display: flex;
    gap: 5rem;
}
