:root{
    --color1:#E51212;
    --color2:#FFFFFF;
    --color3:#D67E34;
    --color4:#000000;
    --color5:#A5ADB3;
    --padding-1:8%;
    --padding-2:4%;
    --shadow:0 1px 5px rgba(233, 222, 222, 0.8);
    --shadow1: 20px 20px 50px 10px rgb(248, 247, 246) inset;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.accueil{
    display: grid;
    justify-content: space-around;
    
}

nav img{
    width: 100px;
    height: 80px;
   
}

nav{
    display: grid;
    padding: 2rem;
    list-style: none;
    padding-left: 8rem;
    grid-template-columns: repeat(2,1fr);
    position: fixed;
    background-color: var(--color2);
    border-bottom: 1px var(--color5);
    width: 100%;
    z-index: 10;
}    

nav ul {
    display: grid;
    grid-gap: 120px;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
    align-content: space-evenly;
    
}
nav ul li a{
    text-decoration: none;
    color: var(--color4);
    font-weight: bold;
    font-size: 16px;
}

span{
    color: var(--color1);
}
.content{
    display: grid;
    grid-gap: 500px;
    grid-template-columns: repeat(2,1fr);
    margin-top: 152px;   
}

.content .text{
    display: flex;
    flex-direction: column;
    padding: var(--padding-1);
    padding-left: 17%;
}
.text h3{
    padding-left: 6.5rem;
}
.text h2{
    padding: var(--padding-2);
}

pre{
    width: 400px;
    color: var(--color5);
}
.content img{
    width: 400px;
    height: 400px;
   
}
.btn{
    padding-top: 16%;
    text-decoration: none;

  
}
.btn-1{
    text-decoration: none;
    background-color: var(--color1);
    color: var(--color2);
    padding: 0.81rem 1.8rem;
    
}
.btn-2{
    text-decoration: none;
    background-color: var(--color2);
    border: solid;
    padding: 0.81rem 1.8rem;
    color: var(--color1);
    border: 2px;
}

.btn-1:hover{
    background-color: var(--color2);
    color: var(--color1);
    border: 1px solid;
}
.btn-2:hover{
    
    border: 1px solid;
}
.suchi-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20rem;
    
    
}
.suchi-1 span{
    color: var(--color3);
}
.suchi-1 img{
    width: 600px;
    height: 300px;
    padding-left:40%;
}

.sushi-1-text{
    display: grid;
    grid-template-rows: repeat(3,50px);
    margin-top: 100px;
    font-size: 20px;
}

svg{
    font-size: 15px;
}
.footer p{
    color: var(--color5);
    text-align: center;
    grid-column: 2 / 4;
    
}

.footer{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    background-color: #F8F9FD;
    justify-content: space-around;
    margin-top: 60px;
}
.Pages img{
    width: 200px;
    height: 100px;
}
.Pages h4{
    padding: 1rem;
    padding-left: 25px;
}
.Pages ul{
    list-style: none;
    padding-left: 1rem;
}
.Pages ul li a{
    text-decoration: none;
   color: var(--color5);
}
.Pages{
    display: grid;
    justify-items: center;
}

/* contact style */

p{
    text-align: center;
}

.formation-contact{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}

.formation-pers{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(4,1fr);
    justify-content: space-around;
    padding: 2rem;
}
.msg-btn{
    display: grid;
    grid-gap: 2px;
    margin-top: 10px;
    padding: 2rem;
}
.formation-contact label,input{
    width: 300px;
    padding: 0.5rem;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}
textarea{
    width: 600px;
    height: 230px;
    margin-top: 10px;
}

button{
    background-color: var(--color3);
    width: 300px;
    height: 50px;
    padding: 0.5rem;
    text-align: center;
    
}
button:hover{
    background-color: var(--color2);
    color: var(--color3);
}

/*carte style */

.carte img{
    width: 100%;
    height: 400px;
}

.carte h5{
    position: absolute;
    z-index: 99;
    padding-left: 43rem;
    font-size: 40px;
    font-weight: bold;
    color: var(--color2);
    margin-top: 235px;
    margin-bottom: 19px;
}

.circular--square { 
    width: 250px;
    height: 250px;
    border-radius: 50%; 
    padding: 2rem;
}
.cirlce p {
    background-color: var(--color3);
    width: 50px;
    height:50px;
    padding: 0.85rem;
    border-radius: 50px;
}

.cirlce{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 200px;
    position: absolute;
    z-index: 1;
    margin-top: 30px;
    padding: 8rem;
    color: var(--color2);
    cursor: pointer;
}

.select{
    text-align: center;
}
#select-title{
    font-size: 20px;
    font-weight: bold;
    padding: 2rem;
}
#type-menu{
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-radius: 12px;
    font-weight: bold;
    color: var(--color3);
}
.menu{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    
}
#plat-txt{
    text-align: center;
    padding: 2rem;
    box-shadow: var(--shadow);
    
}
.menu-food img{
    
    justify-content:space-around;
}
.menu-food{
    padding: 3rem;
    
}

.f-1{
    margin-top: -22px;
}

#btn-menu{
    background-color: var(--color3);
    color: var(--color2);
    text-decoration: none;
    padding: 0.75rem;
    margin-left: 4rem; 
    border-radius: 12px;
}
#btn-menu a{
    color: var(--color2);
}
#btn-menu:hover{
    background-color: var(--color2);
    color: var(--color3);
    border: 1px solid;
}

.form-12{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: absolute;
    z-index: 1;
    cursor: pointer;
    
}
.form-12 p{
    padding: 1.5rem;
    margin-top: 14rem;
    
}
/*  salade */
#salade-algue{
    padding-left: 4.5rem;
}
#salade-chou{
    padding-left: 3rem;
}

.form-13{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: absolute;
    z-index: 1;
    cursor: pointer;
    
}
.form-13 p{
    padding: 1.5rem;
    
}

/* propos */
.propos-text{
    display: flex;
    align-items: flex-end;
}
#spanpan{
    color: var(--color4);
}


.propos-text img{
    width: 600px;
    height: 400px;
    padding-right: 12rem;
}

#btn-read{
    
    text-decoration: none;
    padding-right: 10.75rem;
    border-radius: 12px;

}

.propos-text{
    display: grid;
    grid-gap: 500px;
    grid-template-columns: repeat(2,1fr);
    margin-top: 21px;   
}

.text-12{
    display: flex;
    flex-direction: column;
    padding: var(--padding-1);
    padding-left: 17%;
}

.btn-read{
    text-decoration: none;
    background-color: var(--color1);
    color: var(--color2);
    padding: 0.81rem 3.8rem;
    margin-left: 7rem;
    border-radius: 15px;
}

.btn-read:hover{
    color: var(--color4);
}

/* team */
.team{
    height: 54rem;
}
.team img{
    width: 250px;
    height: 337px;
}

#chef-team{
    color: var(--color3);
}

.team h1{
    text-align: center;
    margin-top: 34px;
}
.images-team{
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(3,326px);
    grid-gap: 18px;
    
    margin-left: 22rem;
    margin-top: 55px;
}